body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    justify-content: center;
    align-items: center
}
.candidate {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.candidate input[type="radio"] {
    margin-right: 10px;
}
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}